USE [TheOne];
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 2/5/2021 8:32:32 PM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[BinhLuan]
(
    [maBinhLuan] [INT] IDENTITY(1, 1) NOT NULL,
    [maPhim] [VARCHAR](15) NOT NULL,
    [tenDN] [VARCHAR](15) NOT NULL,
    [Sao] [INT] NOT NULL,
    [noiDung] [NVARCHAR](MAX) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO
/****** Object:  Table [dbo].[nguoiDung]    Script Date: 2/5/2021 8:32:32 PM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[nguoiDung]
(
    [tenDN] [VARCHAR](15) NOT NULL,
    [Ho] [NVARCHAR](10) NOT NULL,
    [Ten] [NVARCHAR](10) NOT NULL,
    [Email] [VARCHAR](50) NOT NULL,
    [matKhau] [VARCHAR](20) NOT NULL,
    [vaiTro] [BIT] NOT NULL,
    CONSTRAINT [PK__nguoiDun__FB7499F6FC00F2AF]
        PRIMARY KEY CLUSTERED ([tenDN] ASC)
        WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
              ALLOW_PAGE_LOCKS = ON
             ) ON [PRIMARY]
) ON [PRIMARY];
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 2/5/2021 8:32:32 PM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[Phim]
(
    [maPhim] [VARCHAR](15) NOT NULL,
    [Title] [NVARCHAR](50) NOT NULL,
    [noiDung] [NVARCHAR](MAX) NOT NULL,
    [doPhanGiai] [VARCHAR](10) NOT NULL,
    [daoDien] [NVARCHAR](50) NOT NULL,
    [ngayCongChieu] [DATE] NOT NULL,
    [thoiLuong] [INT] NOT NULL,
    [phuDe] [NVARCHAR](20) NOT NULL,
    [luotXem] [INT] NULL,
    [Trailer] [VARCHAR](MAX) NULL,
    [Link] [VARCHAR](MAX) NULL,
    [Poster] [VARCHAR](MAX) NULL,
    [Hinh1] [VARCHAR](MAX) NULL,
    [Hinh2] [VARCHAR](MAX) NULL,
    [Hinh3] [VARCHAR](MAX) NULL,
    [Hinh4] [VARCHAR](MAX) NULL,
    [hieuLuc] [BIT] NOT NULL,
    PRIMARY KEY CLUSTERED ([maPhim] ASC)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
          ALLOW_PAGE_LOCKS = ON
         ) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO
/****** Object:  Table [dbo].[PhimTH]    Script Date: 2/5/2021 8:32:33 PM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[PhimTH]
(
    [maTongHop] [INT] IDENTITY(1, 1) NOT NULL,
    [maPhim] [VARCHAR](15) NOT NULL,
    [maTheLoai] [VARCHAR](15) NOT NULL,
    [loaiPhim] [BIT] NULL,
    PRIMARY KEY CLUSTERED ([maTongHop] ASC)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
          ALLOW_PAGE_LOCKS = ON
         ) ON [PRIMARY]
) ON [PRIMARY];
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 2/5/2021 8:32:33 PM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[TheLoai]
(
    [maTheLoai] [VARCHAR](15) NOT NULL,
    [tenTheLoai] [NVARCHAR](50) NOT NULL,
    PRIMARY KEY CLUSTERED ([maTheLoai] ASC)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
          ALLOW_PAGE_LOCKS = ON
         ) ON [PRIMARY]
) ON [PRIMARY];
GO
/****** Object:  Table [dbo].[YeuThich]    Script Date: 2/5/2021 8:32:33 PM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE [dbo].[YeuThich]
(
    [maYeuThich] [INT] IDENTITY(1, 1) NOT NULL,
    [maPhim] [VARCHAR](15) NOT NULL,
    [tenDN] [VARCHAR](15) NOT NULL,
    [ngayThich] [DATE] NOT NULL
) ON [PRIMARY];
GO
SET IDENTITY_INSERT [dbo].[BinhLuan] ON;

INSERT [dbo].[BinhLuan]
(
    [maBinhLuan],
    [maPhim],
    [tenDN],
    [Sao],
    [noiDung]
)
VALUES
(4, N'FZ22019', N'hoangtk123', 4, N'Đỉnh của chóp :V');
INSERT [dbo].[BinhLuan]
(
    [maBinhLuan],
    [maPhim],
    [tenDN],
    [Sao],
    [noiDung]
)
VALUES
(3, N'FZ22019', N'tuanml123', 5, N'Phim khá hay :V');
INSERT [dbo].[BinhLuan]
(
    [maBinhLuan],
    [maPhim],
    [tenDN],
    [Sao],
    [noiDung]
)
VALUES
(5, N'FZ22019', N'tuantran000', 3, N'Air, Earth, Water, Fire nghe cứ như là đang xem Avatar: The last Airbender :V');
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF;
INSERT [dbo].[nguoiDung]
(
    [tenDN],
    [Ho],
    [Ten],
    [Email],
    [matKhau],
    [vaiTro]
)
VALUES
(N'doinothue123', N'Chi', N'Pheo', N'chipheo2k4@gmail.com', N'1234567', 0);
INSERT [dbo].[nguoiDung]
(
    [tenDN],
    [Ho],
    [Ten],
    [Email],
    [matKhau],
    [vaiTro]
)
VALUES
(N'hoangtk123', N'Phạm', N'Hoàng', N'khoahoangyahoo@gmail.com', N'1234567', 0);
INSERT [dbo].[nguoiDung]
(
    [tenDN],
    [Ho],
    [Ten],
    [Email],
    [matKhau],
    [vaiTro]
)
VALUES
(N'hungnguyencc', N'Nguyễn', N'Hưng', N'hungnguyen555@gmail.com', N'1234567', 0);
SET IDENTITY_INSERT [dbo].[PhimTH] ON;

INSERT [dbo].[PhimTH]
(
    [maTongHop],
    [maPhim],
    [maTheLoai],
    [loaiPhim]
)
VALUES
(25, N'IRON08', N'HD01', 1);
INSERT [dbo].[PhimTH]
(
    [maTongHop],
    [maPhim],
    [maTheLoai],
    [loaiPhim]
)
VALUES
(26, N'CACW16', N'HD01', 1);
INSERT [dbo].[PhimTH]
(
    [maTongHop],
    [maPhim],
    [maTheLoai],
    [loaiPhim]
)
VALUES
(27, N'BP2018', N'HD01', 1);
SET IDENTITY_INSERT [dbo].[PhimTH] OFF;
INSERT [dbo].[TheLoai]
(
    [maTheLoai],
    [tenTheLoai]
)
VALUES
(N'CT01', N'Chiến tranh');
INSERT [dbo].[TheLoai]
(
    [maTheLoai],
    [tenTheLoai]
)
VALUES
(N'GD01', N'Gia đình');
INSERT [dbo].[TheLoai]
(
    [maTheLoai],
    [tenTheLoai]
)
VALUES
(N'HD01', N'Hành động');
SET IDENTITY_INSERT [dbo].[YeuThich] ON;

INSERT [dbo].[YeuThich]
(
    [maYeuThich],
    [maPhim],
    [tenDN],
    [ngayThich]
)
VALUES
(7, N'FZ22019', N'khoahoanghh', CAST(N'2021-02-01' AS DATE));
INSERT [dbo].[YeuThich]
(
    [maYeuThich],
    [maPhim],
    [tenDN],
    [ngayThich]
)
VALUES
(8, N'AVEG19', N'tuanml123', CAST(N'2021-02-01' AS DATE));
INSERT [dbo].[YeuThich]
(
    [maYeuThich],
    [maPhim],
    [tenDN],
    [ngayThich]
)
VALUES
(13, N'FZ22019', N'tuanml123', CAST(N'2021-02-03' AS DATE));
SET IDENTITY_INSERT [dbo].[YeuThich] OFF;
ALTER TABLE [dbo].[BinhLuan]
ADD CONSTRAINT [DF__BinhLuan__noiDun__4316F928]
    DEFAULT (NULL) FOR [noiDung];
GO
ALTER TABLE [dbo].[nguoiDung] ADD DEFAULT ((0)) FOR [vaiTro];
GO
ALTER TABLE [dbo].[Phim] ADD DEFAULT ((0)) FOR [luotXem];
GO
ALTER TABLE [dbo].[Phim]
ADD CONSTRAINT [DF_Phim_hieuLuc]
    DEFAULT ((1)) FOR [hieuLuc];
GO
ALTER TABLE [dbo].[PhimTH] ADD DEFAULT ((0)) FOR [loaiPhim];
GO
ALTER TABLE [dbo].[BinhLuan] WITH CHECK
ADD CONSTRAINT [FK__BinhLuan__maPhim__440B1D61]
    FOREIGN KEY ([maPhim])
    REFERENCES [dbo].[Phim] ([maPhim]);
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK__BinhLuan__maPhim__440B1D61];
GO
ALTER TABLE [dbo].[BinhLuan] WITH CHECK
ADD CONSTRAINT [FK__BinhLuan__tenDN__44FF419A]
    FOREIGN KEY ([tenDN])
    REFERENCES [dbo].[nguoiDung] ([tenDN]);
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK__BinhLuan__tenDN__44FF419A];
GO
ALTER TABLE [dbo].[PhimTH] WITH CHECK
ADD
    FOREIGN KEY ([maPhim]) REFERENCES [dbo].[Phim] ([maPhim]);
GO
ALTER TABLE [dbo].[PhimTH] WITH CHECK
ADD
    FOREIGN KEY ([maTheLoai]) REFERENCES [dbo].[TheLoai] ([maTheLoai]);
GO
ALTER TABLE [dbo].[YeuThich] WITH CHECK
ADD CONSTRAINT [FK__YeuThich__maPhim__49C3F6B7]
    FOREIGN KEY ([maPhim])
    REFERENCES [dbo].[Phim] ([maPhim]);
GO
ALTER TABLE [dbo].[YeuThich] CHECK CONSTRAINT [FK__YeuThich__maPhim__49C3F6B7];
GO
ALTER TABLE [dbo].[YeuThich] WITH CHECK
ADD CONSTRAINT [FK__YeuThich__tenDN__4AB81AF0]
    FOREIGN KEY ([tenDN])
    REFERENCES [dbo].[nguoiDung] ([tenDN]);
GO
ALTER TABLE [dbo].[YeuThich] CHECK CONSTRAINT [FK__YeuThich__tenDN__4AB81AF0];
GO
